include COPYING
include INSTALL
include INSTALL.*
include ChangeLog
include README.*
include Makefile
include description-pak
include wammu.desktop.in
include wammu.appdata.xml.in
include icon/wammu*.png
include icon/wammu.xpm
include icon/wammu.ico
include icon/wammu.svg
recursive-include images *.png
recursive-include locale *.po
include wammu.py
include wammu.iss
include wammu.1
include wammu-configure.1
include wammu.spec
include uninst.isl
include wammu_setup/__init__.py
include wammu_setup/msgfmt.py
include examples/sms.xsl
recursive-include man *.1
