include AUTHORS
include COPYING
include ChangeLog
include FAQ
include INSTALL
include NEWS
include README
include wammu.desktop
include wammu.png
include wammu.xpm
recursive-include images *.png
recursive-include locale *.[pm]o
include wammu
include wammu.1
include wammu.spec
