[Desktop Entry]
Encoding=UTF-8
Name=Wammu
GenericName=Mobile Phone Manager
Comment=Application for mobile phones - frontend for Gammu
Comment[pl]=Aplikacja do obsługi telefonów komórkowych - nakładka graficzna dla Gammu
Comment[cz]=Aplikace pro práci s mobilními telefony - grafické rozhaní pro Gammu
Exec=wammu
Icon=wammu.png
Terminal=false
Type=Application
Categories=Utility;ContactManagement;Office;GTK;
