[Desktop Entry]
Name=Wammu
Comment=Application for mobile phones - frontend for gammu
Comment[pl]=Aplikacja do obsługi telefonów komórkowych - nakładka graficzna dla gammu
Comment[cz]=Aplikace pro práci s mobilními telefony - grafické rozhaní pro gammu
Exec=wammu
Icon=/usr/share/pixmaps/wammu.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;ContactManagement;Office;
