Source: wammu
Section: comm
Priority: optional
Maintainer: Michal Cihar <michal@cihar.com>
Build-Depends-Indep: debhelper (>= 4.0.0), python2.3-dev, python-gammu (>= 0.4), libwxgtk2.4-python (>= 2.4.1.2)
Standards-Version: 3.5.8

Package: wammu
Architecture: all
Depends: ${python:Depends}, python-gammu (>= 0.4), libwxgtk2.4-python (>= 2.4.1.2)
Recommends: timidity
Description: Mobile phone manager
 Mobile phone manager using Gammu as it's backend. It works with any phone Gammu
 supports - many Nokias, Siemens, Alcatel, ... Written using wxGTK.
 . 
 URL: http://www.cihar.com/gammu/wammu
